/*Обнулення*/
*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
  color: #000;
  background-color: #ecf3ff;
}

img{
  vertical-align: top;
  width: 25px;
  height: 25px;
}

a{
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li{
  list-style: none;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

/*Технічний клас*/
._container{
  max-width: 1048px;
  margin: 0px auto;
}

.header{
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 8px grey;
  background-color: #ffffff;
  color: black;
}

.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  gap:30px;
}

.header__banner{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo{
  font-weight: bold;
}

.header__search{
  width: 200px;
  height: 40px;
  position: relative;
}

.header__search form{
  height: 100%;
  width: 100%;
}

.img__search{
  position: absolute;
  padding: 5px;
  top: 8px;
  left: 5px;
}

.search{
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background-color: #ecf3ff;
  text-align: center;
  outline: none;
}

.header__menu{
}

.menu__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__item{
  flex: 100px;
  border-radius: 20px;
}

.menu__item:hover{
  background-color: rgba(255, 105, 0, 0.5);
  color: white;
}

.menu__link{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__text{
  font-weight: bold;
}

.header__setting{
}

.menu__settig{
  display: flex;
  gap:10px;
}

.setting__item{
  border-radius: 50px;
  background:  #ecf3ff;
}

.setting__item:hover{
  background-color: #d5ddeb;
}

.setting__link{
  display: block;
  padding: 10px;
}

@media screen and (max-width: 950px){
  .header__container{
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    gap: 10px;
  }

  .menu__settig{
    gap: 20px;
  }
}

@media screen and (max-width: 670px){

  ._container{
    max-width: 300px;
  }

  .header__container{
    flex-direction: column;
  }

  .menu__list{
    flex-wrap: wrap;
  }

  .menu__item{
      flex: 1 1 49.9%;
  }

  .menu__link{
    flex-direction: row;
    gap: 5px;
  }
}
